/**************************TAG SELECTORS******************************/
body {
  background-color: #E4f9ff;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: #0FABBC;
}

h1 {
  color: #12cad6;
}

p1 {
  color: pink;
}

/**************************Class Selectors******************************/
.headshot {
  display: block;
  margin: auto;
  border-radius: 100%;
  border: 5px solid #bfdcae;
}
/**************************Sprite Sheets******************************/
